<h1>Search Employee</h1>
<form method="GET">
    <input type="text" id="kword" name="kword" placeholder="Enter Name">
    <button type="submit">Search</button>
</form>

<h3>Result</h3>
<ul>
    {% for e in employees  %}
        <li>
            {{ e }}
        </li>
    {% endfor %}
</ul>